extends ../layouts/layout

block topbar
	include ../topbar/signUpTopbar

block content
	div.row-fluid
		h2 Sign up to continue to Smail
		div sign up form

block footer
	include ../footer/welcomeFooter