doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/build/css/bundle.css')
        link(rel="styleSheet", href="/bower_components/bootstrap/dist/css/bootstrap.min.css")

    body
        block top-banner
        div.container-fluid
            block center-column