doctype html
html
	head
		meta(name='viewport', content='width=device-width, initial-scale=1')
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
		title= title
		link(rel="styleSheet", href="/bower_components/bootstrap/dist/css/bootstrap.min.css")
		link(rel='stylesheet', href='/build/css/welcome.css')

	body
		block topbar
			
		div.container.welcome-content
			block content

		block footer