doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/build/css/bundle.css')
    link(rel="styleSheet", href="/bower_components/bootstrap/dist/css/bootstrap.min.css")

  body
      div.container-fluid
        block content
            div.col-sm-12.col-md-12
                block top-banner
            div.col-sm-12.col-md-12
                block center-column