.welcome-topbar {
  	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 999;
	background: #f5f5f5;
	background: -moz-linear-gradient(top,#fafafa,#f5f5f5);
	background: -webkit-linear-gradient(top,#fafafa,#f5f5f5);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0,#fafafa),color-stop(1,#f5f5f5));
	background: linear-gradient(top,#fafafa,#f5f5f5);
	border-bottom: 1px solid #eee;
	color: #444;
	min-height: 44px;
	padding: 10px 50px;
	height: 70px;

	.logo {
		padding-top: 7px;

		img {
			height: 35px;
		}
	}

	.sign-in-or-up {
		padding-top: 7px;
	}
}
.welcome-content {
	-moz-box-shadow: 0 0 35px rgba(0,0,0,.4);
	-webkit-box-shadow: 0 0 35px rgba(0,0,0,.4);
	box-shadow: 0 0 35px rgba(0,0,0,.4);
	margin-top: 20px;
	min-height: 500px;
	padding: 10px;
}
.body {
  min-height: 200px;

  .left-column {
    background-color: #036993;
  }

  .right-column {
    background-color: #038dc5;
  }
}
.welcome-footer {
  	left: 0;
	position: absolute;
	width: 100%;
	z-index: 999;
	background: #f5f5f5;
	background: -moz-linear-gradient(top,#fafafa,#f5f5f5);
	background: -webkit-linear-gradient(top,#fafafa,#f5f5f5);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0,#fafafa),color-stop(1,#f5f5f5));
	background: linear-gradient(top,#fafafa,#f5f5f5);
	border-top: 1px solid #eee;
	color: #444;
	min-height: 44px;
	padding: 10px 50px;
	height: 100px;
}

.signin-box {
	background-color: #f7f7f7;
	padding: 40px;
	// margin: 0 auto;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	-moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-avatar {
	margin: 0 auto;
	height: 100px;
	padding-bottom: 10px;
	display: block;
}

.signup-page {
	.information-area {
		color: #737171;

		.different-view-img {
			margin-top: 10px;
		}
	}

	.signup-box {
		background-color: #f7f7f7;
		padding: 32px;
		-moz-border-radius: 2px;
		-webkit-border-radius: 2px;
		border-radius: 2px;
		-moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
		-webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
		box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);

		.no-side-padding {
			padding-right: 0;
			padding-left: 0;
		}
	}
}