extends layouts/layout

block topbar
	include topbar/welcomeTopbar

block content
	div.row-fluid
		h2.text-center Welcome to Smail
	div.row-fluid
		div.col-sm-6.col-md-6
			div.col-sm-4.col-md-4
				img.img-responsive.img-circle(src="/img/welcome/experience.png")
			div.col-sm-8.col-md-8
				h4 Experience Smail on any device
				p The best of Smail is available wherever you are, from any device.
				a(href='#')  More about Smail for mobile.
		div.col-sm-6.col-md-6
			div.col-sm-4.col-md-4
				img.img-responsive.img-circle(src="/img/welcome/storage.png")
			div.col-sm-8.col-md-8
				h4 Lots of free storage
				p With 15GB of free storage across Smail, Photos, you won't need to delete emails to save space.
				a(href='#')  More about Storage.
	div.clearfix
	div.row-fluid
		div.col-sm-6.col-md-6
			div.col-sm-4.col-md-4
				img.img-responsive.img-circle(src="/img/welcome/inbox.png")
			div.col-sm-8.col-md-8
				h4 Meet the new inbox
				p New customizable tabs put you back in control so that you can see what's new at a glance and decide which emails you want to read and when.
				a(href='#')  More about the new inbox
		div.col-sm-6.col-md-6
			div.col-sm-4.col-md-4
				img.img-responsive.img-circle(src="/img/welcome/help.png")
			div.col-sm-8.col-md-8
				h4 Need help?
				p Have a question about Smail? Visit the 
				a(href='#')  help center
				p   for FAQs and suggestions.
	div.clearfix
		
block footer
	include footer/welcomeFooter