div.col-sm-2.col-md-2.pull-left
	div.btn.btn-danger Compose
	ul.nav.nav-pills.nav-stacked
		li.active(role='presentation')
			a(href='#') Inbox
		li(role='presentation')
			a(href='#') Sent mail
		li(role='presentation')
			a(href='#') Drafts