div.container.welcome-topbar
	div.row-fluid
		div.pull-left.logo
			img.img-responsive(src="/img/common/logo.png")
		div.pull-right.sign-in-or-up
			a.pull-right.btn.btn-primary.btn-responsive(href='/signUp', role='button') Create an account