div.container.welcome-topbar
	div.row-fluid
		div.pull-left.logo
			img.img-responsive(src="/img/common/logo.png")
		div.pull-right(style="padding-top: 15px;")
			div.pull-right shaishab.cse@gmail.com