div.container.smail-topbar
	div.row-fluid
		div.pull-left.logo
			img.img-responsive(src="/img/common/logo.png")
		div.pull-right.sign-in-or-up
			a.pull-right.btn.btn-primary.btn-responsive(href='/signUp', role='button', style="margin-left: 5px;") Create an account
			a.pull-right(href='/signIn', role='button', style="padding-top: 7px;") Sign in