div.welcome-topbar
	div.col-sm-12.col-md-12
		div.pull-left=title
		div.pull-right
			div.pull-right.btn.btn-primary(style="margin-left: 5px;") Create an account
			a.pull-right(href='#', role='button') Sign in